.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px #1b0c0d;
  z-index: 10;
  background-color: rgba(42, 25, 20, 0.719);
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
  color: #e4d4d5;
  text-shadow: 3px #1b0c0d;
}

@media screen and (max-width: 768px) {
  .header {
    height: 4rem;
  }

  h1 {
    font-size: 1rem;
  }
}
