@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  /* background-image: url('./assets/field.jpeg'); */
  background-color: rgb(144, 148, 137);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* center spinner */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}