.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  
  .input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }

  @media screen and (min-width: 768px) {
    .input {
      margin-bottom: 1rem;
    }
    
    .input label {
      font-size: 1.2rem;
    }
    
    .input input {
      width: 5rem;
      font-size: 1.2rem;
    }
  }
    
